# Copyright IBM Corp. 2022, 2024
# SPDX-License-Identifier: MPL-2.0

spring:
  application:
    name: hello-vault-spring

  datasource:
    url: ${DATABASE_URL}
  sql:
    init:
      platform: ${DATABASE_PLATFORM}
      mode: always

logging:
  level:
    ROOT: INFO
    org.springframework.vault: DEBUG
